* {
  margin: 0px;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "Wotfard", Futura, -apple-system, sans-serif;
  line-height: 1.5;
}

a {
  color: #06C;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0a85ff;
  text-decoration: underline;
}

p {
  margin-bottom: 7.5px;
}

button {
  cursor: pointer;
  border-width: medium;
  border-style: none;
  border-radius: 8px;
  will-change: transform;
  transition: transform 75ms cubic-bezier(0.44, 0.21, 0, 1);
}
button:not(#close-modal) {
  margin: 0 auto;
}
button.active, button:focus {
  transform: scale(1);
}
button:active {
  transform: scale(0.95) !important;
}

.boop-square {
  transform: rotate(90deg);
}

#boops {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}
#boops > svg, #boops > .boop-square {
  height: fit-content;
  margin: auto 0;
  overflow: visible;
  cursor: pointer;
  will-change: transform;
}
#boops > svg:hover, #boops > .boop-square:hover {
  filter: drop-shadow(0.5px 1px 1px rgba(0, 0, 0, 0.7));
}
#boops > svg:hover {
  fill: #ff8933;
}
#boops > .boop-square {
  background-color: black;
  border-radius: 25%;
  width: 100px;
  height: 100px;
}
#boops > .boop-square:hover {
  background-color: #ff8933;
}

#info {
  margin-top: -30vh;
}
#info > button {
  padding: 10px 10px 5px 16.1px;
  display: flex;
  align-items: end;
  font-size: 28px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
#info > button:hover {
  color: black;
  transform: scale(1.0125);
}
#info > button span {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  transition: transform 0.15s ease;
}
#info .line {
  height: 3px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}
#info #accordion {
  max-height: 0;
  overflow: hidden;
  width: 40%;
  margin: 10px auto 0;
  text-align: center;
  font-size: 18px;
}
#info.expand > button {
  color: black;
}
#info.expand > button > span {
  transform: rotate(180deg);
}
#info.expand .line {
  background-color: black;
}
#info.expand > #accordion {
  max-height: 100%;
  overflow: visible;
  padding: 5px 50px 25px;
  border-radius: 7.5px;
  box-shadow: 0.25px 1px 1px rgba(50, 50, 50, 0.33);
  transition: max-height 0.2s ease-in-out;
}

#open-modal {
  padding: 5px 20px;
  font-size: 18px;
  background-color: #3a4144;
  color: white;
  border-style: solid;
  border-color: transparent;
  transition: 0.15s ease;
}
#open-modal:hover {
  background-color: white;
  border-color: #3a4144;
  color: black;
  transition: background-color 0.25s ease-out, color 0.1s ease-out;
}

#modal-container {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modal-container.show {
  display: block;
}
#modal-container.show #modal {
  transform: translateY(50%);
}
#modal-container #modal {
  width: 35%;
  height: 50%;
  margin: 0 auto;
  transform: translateY(-100vh);
  background-color: white;
  border: 2px gray solid;
  border-radius: 15px;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.2));
  position: relative;
  z-index: 1;
}
#modal-container #modal #header {
  padding: 10px 25px 5px;
  font-size: 30px;
  border-bottom: 2px lightgray solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-container #modal #header button#close-modal {
  background-color: transparent;
}
#modal-container #modal #header button#close-modal > svg {
  will-change: transform;
}
#modal-container #modal #body {
  margin: 20px 40px;
  font-size: 20px;
}
#modal-container #modal #body #list {
  padding: 40px 30px;
}
#modal-container #modal #body #list p {
  margin-bottom: 50px;
}
#modal-container #modal #body #list p > span {
  margin-left: 1rem;
}
#modal-container #modal #body #list p > span > svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
}
#modal-container #modal button#close-modal:hover, #modal-container #modal .info-circle:hover, #modal-container #modal .star:hover {
  color: #666;
  fill: #666;
}
#modal-container #modal-background {
  background: linear-gradient(0, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.05) 25%);
  width: 100%;
  height: 110%;
  transform: translateY(-50%);
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.circle {
  position: absolute;
  z-index: 1;
  inset: 0px;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;
  background: #ff8933 none repeat scroll 0% 0%;
}

#star-p {
  display: inline-block;
}

.star {
  display: inline-block;
  position: relative;
  width: min-content;
  vertical-align: top;
  margin-left: 1rem;
}
.star > svg {
  z-index: 3;
  position: relative;
  cursor: pointer;
}

.info-circle > svg {
  will-change: transform;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
