* {
    margin: 0px;

    &::before, &::after {
        box-sizing: border-box;
    }
}

html {
    height: 100vh;
}

body {
    font-family: 'Wotfard', Futura, -apple-system, sans-serif;
    line-height: 1.5;
}

a {
    color: #06C;
    text-decoration: none;

    &:hover, &:focus {
        color: scale-color(#06C, $lightness: 20%);
        text-decoration: underline;
    }
}

p {
    margin-bottom: 7.5px;
}

button {
    &:not(#close-modal) {
        margin: 0 auto;
    }

    cursor: pointer;
    border: {
        width: medium;
        style: none;
        radius: 8px;
    }

    &.active, &:focus {
        transform: scale(1);
    }

    &:active {
        transform: scale(.95) !important;
    }

    will-change: transform;
    transition:  transform 75ms cubic-bezier(0.44, 0.21, 0, 1);
}

$hover-color: #ff8933;
$shadow: 0.5px 1px 1px hsl(0deg 0% 0% / 0.7);

.boop-square {
    transform: rotate(90deg);
}

#boops {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;

    > svg, > .boop-square {
        height:   fit-content;
        margin:   auto 0;
        overflow: visible;
        cursor:   pointer;
    
        will-change: transform;

        &:hover {
            filter: drop-shadow($shadow);
        }
    }

    > svg:hover {
        fill: $hover-color;
    }

    > .boop-square {
        background-color: black;
        border-radius: 25%;
        width: 100px;
        height: 100px;

        &:hover {
            background-color: $hover-color;
        }
    }
}

$font-color: change-color(black, $alpha: .7);
$font-color-hover: #3a4144;

#info {
    margin-top: -30vh;

    > button {
        padding: 10px 10px 5px 16.1px;
        display: flex;
        align-items: end;
        font-size: 28px;

        background-color: transparent;
        color: $font-color;

        &:hover {
            color: black;
            transform: scale(1.0125);
        }

        span {
            width:  32px;
            height: 32px;
            margin-left: 5px;
            transition: transform .15s ease;
        }
    }

    .line {
        height: 3px;
        width: 250px;
        background-color: $font-color;
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50px;
    }

    #accordion {
        max-height: 0;
        overflow: hidden;
        
        width: 40%;
        margin: 10px auto 0;
        text-align: center;

        font-size: 18px;
    }

    &.expand {
        > button {
            color: black;

            > span {
                transform: rotate(180deg);
            }
        }

        .line {
            background-color: black;
        }

        > #accordion {
            max-height: 100%;
            overflow: visible;
            padding: 5px 50px 25px;
            border-radius: 7.5px;
            box-shadow: 0.25px 1px 1px rgba(50, 50, 50, .33);
            transition: max-height 0.2s ease-in-out;
        }
    }
}

#open-modal {
    padding: 5px 20px;
    font-size: 18px;
    background-color: $font-color-hover;
    color: white;

    border-style: solid;
    border-color: transparent;

    &:hover {
        background-color: white;
        border-color: $font-color-hover;
        color: black;

        transition: background-color .25s ease-out, color .1s ease-out;
    }

    transition: .15s ease;
}

#modal-container {
    z-index: 1;
    display:  none;
    position: fixed;

    width:  100%;
    height: 100%;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.show {
        display: block;

        #modal {
            transform: translateY(50%);
        }
    }

    #modal {
        width:  35%;
        height: 50%;
        margin: 0 auto;
        transform: translateY(-100vh);
    
        background-color: white;
        border: 2px gray solid;
        border-radius: 15px;
        filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, .2));

        position: relative;
        z-index:  1;
    
        #header {
            padding: 10px 25px 5px;
            font-size: 30px;
            border-bottom: 2px lightgray solid;

            display:         flex;
            align-items:     center;
            justify-content: space-between;

            button#close-modal {
                background-color: transparent;

                & > svg {
                    will-change: transform;
                }
            }
        }
    
        #body {
            margin: 20px 40px;
            font-size: 20px;
    
            #list {
                padding: 40px 30px;
                
                p {
                    margin-bottom: 50px;

                    & > span {
                        margin-left: 1rem;

                        & > svg {
                            vertical-align: middle;
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
        }

        button#close-modal, .info-circle, .star {
            &:hover {
                $modal-hover-color: #666;

                color: $modal-hover-color;
                fill:  $modal-hover-color;
            }
        }
    }
    
    #modal-background {
        background: linear-gradient(0, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .05) 25%);

        width:  100%;
        height: 110%;
        transform: translateY(-50%);

        position: relative;
        z-index:  0;

        cursor: pointer;
    }
}

.circle {
    position: absolute;
    z-index: 1;
    inset: 0px;
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 50%;
    background: $hover-color none repeat scroll 0% 0%;
}

#star-p {
    display: inline-block;
}

.star {
    display: inline-block;
    position: relative;
    width: min-content;
    vertical-align: top;
    margin-left: 1rem;

    > svg {
        z-index: 3;
        position: relative;
        cursor: pointer;
    }
}

.info-circle > svg {
    will-change: transform;
    cursor: pointer;
}